*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  background: hsl(234, 29%, 20%);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h1 {
  display: inline-block;
  padding: 1rem 0 1.3rem 0;
  font-size: 3rem;
}

p {
  display: inline-block;
  padding-bottom: 1.3rem;
  font-size: 16px;
}

.container {
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  max-width: 450px;
  padding: 1rem;
  margin: auto;
}

.card{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 2rem;
}

span{
  font-weight: 700;
}

a {
  text-decoration: none;
  display: block;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin-top: 1.5rem;
  text-align: center;
}

a:hover {
  cursor: pointer;
  background: linear-gradient(to right, #FF527B, #FF6A3A);
}

/* mobile screen */
@media(max-width: 450px){
  body{
    background: hsl(0, 0%, 100%);
  }

  .card{
    height: 100vh;
    justify-content: space-between;
  }
}